body {
    margin: 0;
    padding: 0;
    background-color: #b9f0fa;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/*POKEDEX**************************************************************************/
#title {
    font-size: 5rem;
    margin-bottom: 1%;
    margin-top: none;
    color: #ffcc01; 
    text-shadow: 0 0 10px #b22f00; 
    -webkit-text-stroke-color: #355fab;
    -webkit-text-stroke-width: 4px;
  }

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dex {
  margin: 2% auto;
  background-color: #ff4400;
  padding: 5px 5px 50px 5px;
  box-shadow: 3px 3px 10px grey;
  border: 5px solid #ff4400;
  border-style: outset;
  border-radius: 2%;
}

#screen {
  background-color: #e8fefc;
  /*margin: 5% 4% 5% 4%;*/
  /*margin: 5% 10%;*/
  margin: 2% auto;
  width: 60%;
  height: 300px;
  padding: 1%;
  overflow: auto;
  border: 7px solid red;
  border-style: groove;
  box-shadow: inset 0 0 5px black;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  font-family: "Pixelify Sans", sans-serif;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 5px darkred;
  border: none;
}

a {
  text-decoration: none;
}

#fetchbtn {
    background-color: #45dc77;
}

#allbtn {
    background-color: #18bfe4;
}

#fetchbtn:hover {
    background-color: #449b61;
}

#allbtn:hover {
    background-color: #2290a9;
}

/*DATA FORMATTING************************************************************************/
#aboutMe {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

#NameHeightWeightType {
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 1%;
  gap: 500px;
}

#AbilitiesMovesStats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  border: 5px solid rgb(135, 255, 135);
  border-radius: 1%;
}


/*DETAILS******************************************************************************/
img {
  background-color: white;
  border: 5px solid #43aaff;
  outline: 5px solid #fff981;
  border-radius: 1%;
  width: 30%;
  height: 30%;
  margin-left: 2%;
  margin-top: 8%;
  box-shadow: 0 0 20px #a2b1b0;
}

#pokemonName, #hwt {
  background-color: #fff981;
  border-radius: 10px 0 0 10px;
  font-weight: lighter;
  padding: 3%;
  margin-bottom: none;
  align-self: flex-start;
  font-size: medium;
  box-shadow: 0 0 5px blue;
  border-bottom: 5px solid white;
}

#hwt {
  background-color: rgb(190, 225, 255);
}

#abilities, #stats {
  background-color: #99fa995d;
}

#moves {
  background-color: #99fa999f;
}