#index {
    margin: 0;
    padding: 0;
    background-color: #0042bab0;
    color: white;
    font-size: 50px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url("bg.png");
    background-blend-mode: soft-light;
} 

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

#title {
    font-size: 100px;
    margin-bottom: 1%;
    margin-top: 10%;
    color: #ffcc00; 
    text-shadow: 3px 3px 10px rgb(0, 0, 116); 
    -webkit-text-stroke-color: #0042ba;
    -webkit-text-stroke-width: 4px;
}

input[type=text] {
    font-family: "Pixelify Sans", sans-serif;
    width: 40%;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #0100de;
    box-shadow: 3px 3px 5px #0021a7;
}


#buttons {
    flex-direction: row;
}

button {
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 3px 3px 5px darkblue;
}

#fetchbtn {
    background-color: #00c942;
}

#allbtn {
    background-color: #00cdfb;
}

#fetchbtn:hover {
    background-color: #00ed4f;
}

#allbtn:hover {
    background-color: #00bbff;
}